[Unit]
Description=Notes Frontend (nginx)

[Container]
ContainerName=notes-frontend
Image=ghcr.io/sebag90/notes-frontend:latest
AutoUpdate=registry

Pod=notes.pod

Label=traefik.enable=true
Label=traefik.http.routers.notes.rule=Host(`notes.giglis.eu`)
Label=traefik.http.routers.notes.entrypoints=websecure
Label=traefik.http.routers.notes.tls=true
Label=traefik.http.services.notes.loadbalancer.server.port=80
Label=traefik.http.routers.notes.tls.certresolver=letsencrypt

[Service]
Restart=always

[Install]
WantedBy=default.target
